



.second{

    stroke-dasharray: 30000;
  
  stroke-dashoffset: 0;
  -webkit-animation: dash 30s linear forwards;
  -webkit-animation-play-state: paused;

  -o-animation: dash 30s linear forwards;
  -o-animation-play-state: paused;

  -moz-animation: dash 30s linear forwards;
  -moz-animation-play-state: paused;

  animation: dash 30s linear alternate;
  animation-play-state: paused;
  
    
}

@-webkit-keyframes dash {
    from {
      stroke-dashoffset: 30000;
    }
    to {
      stroke-dashoffset: 20000;
    }
  }

  

